# Port for Express server
PORT=5000

# Optional: MongoDB connection string (leave blank to run in Mock/In-Memory mode)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.gi7mj4r.mongodb.net/ai-robotics-workshop
